body {
    background-color: #0c0b49;
    margin: 0;
    padding: 0;
}

.tittle {
    background-color: #d1d1e7;
    color: #0c0b49;
    text-align: center;
    width: 100%;
    height: 90px;
    font-size: 70px;
}

.container {
    width: 100%;
    padding: 40px 120px;
}

.selection {
    display: inline-block;
    float: left;
    width: 40%;
    color: #d1d1e7;
}

.selection button {
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    width: 300px;
    border: none;
    border-radius: 10px;
    color: #0c0b49;
    background-color: #d1d1e7;
}

.result {
    display: inline-block;
    width: 40%;
    height: 400px;
    background-color: none;
    border: 7px solid #d1d1e7;
    border-radius: 14px;
}

#textResult {
    text-align: center;
    color: #d1d1e7;
    font-size: 70px;
    margin: 22%;
}